llama-index
llama-index-readers-file
python-dotenv
langchain
openai
pandas
numpy
transformers
sentence-transformers
tqdm
matplotlib
plotly
llama-index-llms-openai
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
